# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/dg86quw872gw/tahtakalec"
PassengerBaseURI "/"
PassengerNodejs "/home/dg86quw872gw/nodevenv/tahtakalec/10/bin/node"
PassengerAppType node
PassengerStartupFile Tahtakale.js
PassengerAppLogFile "/home/dg86quw872gw/Log/Tahta.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END